# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
pip install py gmaps

Requirement already satisfied: py in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (1.9.0)
Requirement already satisfied: gmaps in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (7.5.1)
Requirement already satisfied: ipython>=5.3.0 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (7.16.1)
Requirement already satisfied: six in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (1.15.0)
Requirement already satisfied: geojson>=2.0.0 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: traitlets>=4.3.0 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (4.3.3)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.2)
Requirement already satisfied: nbformat>=4.2.0 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.7)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: backcall in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: pickleshare in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: pygments in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (2.6.1)
Requirement already satisfied: decorator in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (3.0.5)
Requirement already satisfied: jedi>=0.10 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: setuptools>=18.5 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (49.2.0.post20200714)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: ipython-genutils in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: tornado>=4.2 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: jupyter-client in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.6)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-core in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: notebook>=4.4.1 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: wcwidth in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.3.0->gmaps) (0.6.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: pyzmq>=13 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (19.0.1)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.16.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: nbconvert in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: Send2Trash in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: prometheus-client in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: jinja2 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: bleach in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.5)
Requirement already satisfied: testpath in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: defusedxml in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: webencodings in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: packaging in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/crloud/opt/anaconda3/lib/python3.8/site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)
ERROR: Error checking for conflicts.
Traceback (most recent call last):
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_vendor/pkg_resources/__init__.py", line 3021, in _dep_map
    return self.__dep_map
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_vendor/pkg_resources/__init__.py", line 2815, in __getattr__
    raise AttributeError(attr)
AttributeError: _DistInfoDistribution__dep_map

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_vendor/pkg_resources/__init__.py", line 3012, in _parsed_pkg_info
    return self._pkg_info
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_vendor/pkg_resources/__init__.py", line 2815, in __getattr__
    raise AttributeError(attr)
AttributeError: _pkg_info

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_internal/commands/install.py", line 512, in _warn_about_conflicts
    package_set, _dep_info = check_install_conflicts(to_install)
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_internal/operations/check.py", line 114, in check_install_conflicts
    package_set, _ = create_package_set_from_installed()
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_internal/operations/check.py", line 53, in create_package_set_from_installed
    package_set[name] = PackageDetails(dist.version, dist.requires())
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_vendor/pkg_resources/__init__.py", line 2736, in requires
    dm = self._dep_map
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_vendor/pkg_resources/__init__.py", line 3023, in _dep_map
    self.__dep_map = self._compute_dependencies()
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_vendor/pkg_resources/__init__.py", line 3032, in _compute_dependencies
    for req in self._parsed_pkg_info.get_all('Requires-Dist') or []:
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_vendor/pkg_resources/__init__.py", line 3014, in _parsed_pkg_info
    metadata = self.get_metadata(self.PKG_INFO)
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_vendor/pkg_resources/__init__.py", line 1420, in get_metadata
    value = self._get(path)
  File "/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pip/_vendor/pkg_resources/__init__.py", line 1616, in _get
    with open(path, 'rb') as stream:
FileNotFoundError: [Errno 2] No such file or directory: '/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/sql-0.4.0.dist-info/METADATA'

Note: you may need to restart the kernel to use updated packages.

In [5]:
# Dependencies and Setup
%matplotlib notebook

import gmaps
import pandas as pd
import gmaps.datasets
import csv
import numpy as np
import requests
import time
from scipy.stats import linregress
import matplotlib.pyplot as plt
from scipy import stats
import ipywidgets as widgets
import logging
logging.basicConfig(level=logging.DEBUG)
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy



# Google developer API key
from api_keys_6 import g_key




#weather_data_short_load= "weather_data_short.csv"
#wds_df = pd.read_csv(weather_data_short_load)

DEBUG:matplotlib.pyplot:Loaded backend nbAgg version unknown.

In [3]:
weather_data_to_load= "weather_data.csv"
weather_data = pd.read_csv(weather_data_to_load)
#pip install py gmaps

In [4]:
weather_data

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date
0,Lebu,CL,-37.6167,-73.6500,17.99,17.99,1,73,4.52,1614967499
1,Jamestown,US,42.0970,-79.2353,-3.10,-2.78,90,91,8.32,1614967499
2,Barrow,US,71.2906,-156.7887,-23.00,-23.00,90,64,9.77,1614967500
3,Dunedin,NZ,-45.8742,170.5036,9.96,9.96,97,81,2.14,1614967500
4,Tasiilaq,GL,65.6145,-37.6368,4.00,4.00,75,81,5.66,1614968031
...,...,...,...,...,...,...,...,...,...,...
547,Muroto-misakicho,JP,33.2833,134.1500,16.31,16.31,92,78,5.48,1614968344
548,Tabas,IR,33.5959,56.9244,20.02,20.02,32,44,8.04,1614968345
549,Boa Vista,BR,2.8197,-60.6733,32.00,32.00,75,45,7.20,1614968345
550,Roura,GF,4.7263,-52.3274,26.55,27.22,90,83,3.60,1614968345
551,Imbituba,BR,-28.2400,-48.6703,27.00,27.00,75,78,5.14,1614968347

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
weather_data.head()

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date
0,Lebu,CL,-37.6167,-73.6500,17.99,17.99,1,73,4.52,1614967499
1,Jamestown,US,42.0970,-79.2353,-3.10,-2.78,90,91,8.32,1614967499
2,Barrow,US,71.2906,-156.7887,-23.00,-23.00,90,64,9.77,1614967500
3,Dunedin,NZ,-45.8742,170.5036,9.96,9.96,97,81,2.14,1614967500
4,Tasiilaq,GL,65.6145,-37.6368,4.00,4.00,75,81,5.66,1614968031

In [3]:
#This smaller data set is to be used for debugging and trial

28

In [10]:
vfd= weather_data.head()

In [11]:
vfd

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date
0,Lebu,CL,-37.6167,-73.6500,17.99,17.99,1,73,4.52,1614967499
1,Jamestown,US,42.0970,-79.2353,-3.10,-2.78,90,91,8.32,1614967499
2,Barrow,US,71.2906,-156.7887,-23.00,-23.00,90,64,9.77,1614967500
3,Dunedin,NZ,-45.8742,170.5036,9.96,9.96,97,81,2.14,1614967500
4,Tasiilaq,GL,65.6145,-37.6368,4.00,4.00,75,81,5.66,1614968031

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
#Configure gmaps
import gmaps
gmaps.configure(api_key=g_key)

In [23]:
#plocations = vfd[["lat", "lon"]].astype(float)

#prating = vfd["humidity"]

In [25]:
 # Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
vacay_data= weather_data
vacay_data

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date
0,Lebu,CL,-37.6167,-73.6500,17.99,17.99,1,73,4.52,1614967499
1,Jamestown,US,42.0970,-79.2353,-3.10,-2.78,90,91,8.32,1614967499
2,Barrow,US,71.2906,-156.7887,-23.00,-23.00,90,64,9.77,1614967500
3,Dunedin,NZ,-45.8742,170.5036,9.96,9.96,97,81,2.14,1614967500
4,Tasiilaq,GL,65.6145,-37.6368,4.00,4.00,75,81,5.66,1614968031
...,...,...,...,...,...,...,...,...,...,...
547,Muroto-misakicho,JP,33.2833,134.1500,16.31,16.31,92,78,5.48,1614968344
548,Tabas,IR,33.5959,56.9244,20.02,20.02,32,44,8.04,1614968345
549,Boa Vista,BR,2.8197,-60.6733,32.00,32.00,75,45,7.20,1614968345
550,Roura,GF,4.7263,-52.3274,26.55,27.22,90,83,3.60,1614968345
551,Imbituba,BR,-28.2400,-48.6703,27.00,27.00,75,78,5.14,1614968347

In [26]:
locations = vacay_data[["lat", "lon"]].astype(float)

rating = vacay_data["humidity"]


 # Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=4)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#vac_lon_coords=vfd['lon'].tolist()
#vac_lon_coords
#vac_lat_coords=vfd['lat'].tolist()
#vac_lat_coords

In [ ]:
locations = vacay_data[["lat", "lon"]].astype(float)

rating = vacay_data["humidity"]


 # Plot Heatmap
fig = gmaps.figure(map_type='HYBRID')

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [28]:
vacay_filter_df=weather_data.loc[(weather_data["temp_max"]<30) & (weather_data["temp_max"]>19)& (weather_data["cloudiness"]==0)& (weather_data["windspeed"]<10)]
len(vacay_filter_df)

39

In [29]:
vacay_filter_df.to_csv('perfect_vacation_filtered_data.csv', index=False, header=True)

In [30]:
vacay_filter_df

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date
29,Cape Town,ZA,-33.9258,18.4232,20.60,22.78,0,77,7.20,1614967842
55,Carnarvon,AU,-24.8667,113.6333,24.00,24.00,0,94,6.17,1614967877
60,Umluj,SA,25.0213,37.2685,22.44,22.44,0,39,9.25,1614968055
63,Ancud,CL,-41.8697,-73.8203,24.21,25.00,0,31,3.09,1614968057
80,Hermanus,ZA,-34.4187,19.2345,21.11,21.11,0,74,2.68,1614968066
85,East London,ZA,-33.0153,27.9116,20.00,20.00,0,83,2.06,1614968068
98,Rach Gia,VN,10.0167,105.0833,24.00,24.00,0,100,2.53,1614968073
112,Saldanha,ZA,-33.0117,17.9442,23.00,23.00,0,46,2.06,1614968080
113,Qena,EG,26.1615,32.7183,21.00,21.00,0,30,1.03,1614968080
116,Guerrero Negro,MX,27.9769,-114.0611,21.19,21.19,0,28,2.55,1614968082
118,Mongo,TD,12.1844,18.6930,29.50,29.50,0,13,3.54,1614968083
130,Nouadhibou,MR,20.9310,-17.0347,21.00,21.00,0,64,9.77,1614968088
137,Khanpur,PK,28.6453,70.6567,21.01,21.01,0,22,1.89,1614968091
162,Adrar,MR,20.5022,-10.0711,29.23,29.23,0,12,1.87,1614968101
169,San Isidro,PE,-12.1167,-77.0500,27.00,27.00,0,61,6.17,1614968104
183,Henties Bay,NaN,-22.1160,14.2845,22.20,22.20,0,59,4.94,1614968109
184,Bredasdorp,ZA,-34.5322,20.0403,20.00,20.00,0,83,4.12,1614968112
204,Bitkine,TD,11.9801,18.2138,29.38,29.38,0,13,3.64,1614968158
209,Phan Thiet,VN,10.9333,108.1000,21.47,21.47,0,83,3.37,1614968160
246,Vredendal,ZA,-31.6683,18.5012,19.36,19.36,0,61,3.73,1614968176
250,Verāval,IN,20.9000,70.3667,25.02,25.02,0,66,3.34,1614968177
266,Rāzole,IN,16.4833,81.8333,20.75,20.75,0,83,0.57,1614968186
272,Port Blair,IN,11.6667,92.7500,27.08,27.08,0,82,4.04,1614968114
292,Soyung,PH,16.7001,121.6655,20.68,20.68,0,92,0.52,1614968197
300,Pīpri,IN,19.8000,75.5333,23.00,23.00,0,40,1.03,1614968201
314,Bilma,NE,18.6853,12.9164,25.24,25.24,0,15,4.02,1614968207
341,Lüderitz,NaN,-26.6481,15.1594,22.32,22.32,0,48,6.81,1614968218
346,Rewāri,IN,28.1833,76.6167,20.00,20.00,0,60,3.09,1614968220
349,Coyhaique,CL,-45.5752,-72.0662,27.00,27.00,0,17,2.06,1614968222
361,Salalah,OM,17.0151,54.0924,26.00,26.00,0,57,1.54,1614968227
377,Sinazongwe,ZM,-17.2614,27.4618,25.40,25.40,0,60,1.60,1614968235
391,Sawākin,SD,19.1059,37.3321,22.81,22.81,0,62,5.57,1614968279
403,Pisco,PE,-13.7000,-76.2167,26.37,27.00,0,74,4.63,1614968283
405,Ritchie,ZA,-29.0380,24.6028,23.00,23.00,0,28,3.60,1614968284
429,Dalbandin,PK,28.8947,64.4101,22.30,22.30,0,21,1.40,1614968294
449,Narasannapeta,IN,18.4167,84.0500,22.84,22.84,0,78,2.86,1614968303
479,Sakīt,IN,27.4500,78.8167,21.04,21.04,0,22,4.47,1614968316
499,Gariāband,IN,20.6350,82.0614,24.00,24.00,0,35,2.57,1614968325
514,Najrān,SA,17.4924,44.1277,25.00,25.00,0,25,6.17,1614968331

In [31]:
#remove highest humidty locations for a more pleasurable vacation
#perfect_vacation_df=weather_data.loc[(weather_data["temp_max"]<30) & (weather_data["temp_max"]>20)& (weather_data["cloudiness"]==0)& (weather_data["windspeed"]<10)& (weather_data["humidity"]<70)]
#len(perfect_vacation_df)

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [32]:
#NaN = np.nan
#df["column3"] = NaN
#pv_df['new_column']
#pv_df['colum11']
hotel_df= vacay_filter_df

In [16]:
#gmaps.figure(center=7.52,-12.50, zoom_level=15)
locations = pv_df[["lat", "lon"]].astype(float)

rating = pv_df["humidity"]
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=True, max_intensity=100,
                                 point_radius=20)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Google developer API key
from config import g_key

###Hotel Map

#Store into variable named hotel_df
hotel_df= locations = pv_df[["lat", "lon"]].astype(float)

rating = pv_df["humidity"]
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

In [19]:
#pv_df2=pv_df

In [20]:
#pv_df2["Hotel Name"]=""
#pv_df2

<ipython-input-20-b18d459c3b2e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pv_df2["Hotel Name"]=""

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date,Hotel Name
110,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,1613158839,
125,Beïnamar,TD,8.6698,15.3813,25.04,25.04,0,17,1.59,1613158934,
181,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,1613158948,
183,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,1613158949,
214,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,1613159033,
294,Adré,TD,13.4667,22.2000,21.77,21.77,0,21,3.55,1613159052,
300,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,1613158921,
335,Salalah,OM,17.0151,54.0924,23.00,23.00,0,49,1.54,1613158852,
364,Pitrufquén,CL,-38.9833,-72.6500,26.00,26.00,0,57,5.14,1613159071,
370,Atar,MR,20.5169,-13.0499,22.28,22.28,0,17,4.77,1613159073,
380,Adrar,MR,20.5022,-10.0711,22.36,22.36,0,16,5.02,1613159151,
413,Tessalit,ML,20.1986,1.0114,22.26,22.26,0,16,2.29,1613159162,
442,Keti Bandar,PK,24.1447,67.4497,20.56,20.56,0,67,3.96,1613159169,
446,Coyhaique,CL,-45.5752,-72.0662,24.00,24.00,0,29,3.09,1613159127,
470,Ormara,PK,25.2088,64.6357,21.11,21.11,0,64,3.25,1613159175,
500,Bokoro,TD,12.3807,17.0568,25.46,25.46,0,16,3.19,1613159184,
524,Umluj,SA,25.0213,37.2685,24.86,24.86,0,60,1.85,1613159189,
561,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,1613159198,

In [33]:
hotel_df

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date
29,Cape Town,ZA,-33.9258,18.4232,20.60,22.78,0,77,7.20,1614967842
55,Carnarvon,AU,-24.8667,113.6333,24.00,24.00,0,94,6.17,1614967877
60,Umluj,SA,25.0213,37.2685,22.44,22.44,0,39,9.25,1614968055
63,Ancud,CL,-41.8697,-73.8203,24.21,25.00,0,31,3.09,1614968057
80,Hermanus,ZA,-34.4187,19.2345,21.11,21.11,0,74,2.68,1614968066
85,East London,ZA,-33.0153,27.9116,20.00,20.00,0,83,2.06,1614968068
98,Rach Gia,VN,10.0167,105.0833,24.00,24.00,0,100,2.53,1614968073
112,Saldanha,ZA,-33.0117,17.9442,23.00,23.00,0,46,2.06,1614968080
113,Qena,EG,26.1615,32.7183,21.00,21.00,0,30,1.03,1614968080
116,Guerrero Negro,MX,27.9769,-114.0611,21.19,21.19,0,28,2.55,1614968082
118,Mongo,TD,12.1844,18.6930,29.50,29.50,0,13,3.54,1614968083
130,Nouadhibou,MR,20.9310,-17.0347,21.00,21.00,0,64,9.77,1614968088
137,Khanpur,PK,28.6453,70.6567,21.01,21.01,0,22,1.89,1614968091
162,Adrar,MR,20.5022,-10.0711,29.23,29.23,0,12,1.87,1614968101
169,San Isidro,PE,-12.1167,-77.0500,27.00,27.00,0,61,6.17,1614968104
183,Henties Bay,NaN,-22.1160,14.2845,22.20,22.20,0,59,4.94,1614968109
184,Bredasdorp,ZA,-34.5322,20.0403,20.00,20.00,0,83,4.12,1614968112
204,Bitkine,TD,11.9801,18.2138,29.38,29.38,0,13,3.64,1614968158
209,Phan Thiet,VN,10.9333,108.1000,21.47,21.47,0,83,3.37,1614968160
246,Vredendal,ZA,-31.6683,18.5012,19.36,19.36,0,61,3.73,1614968176
250,Verāval,IN,20.9000,70.3667,25.02,25.02,0,66,3.34,1614968177
266,Rāzole,IN,16.4833,81.8333,20.75,20.75,0,83,0.57,1614968186
272,Port Blair,IN,11.6667,92.7500,27.08,27.08,0,82,4.04,1614968114
292,Soyung,PH,16.7001,121.6655,20.68,20.68,0,92,0.52,1614968197
300,Pīpri,IN,19.8000,75.5333,23.00,23.00,0,40,1.03,1614968201
314,Bilma,NE,18.6853,12.9164,25.24,25.24,0,15,4.02,1614968207
341,Lüderitz,NaN,-26.6481,15.1594,22.32,22.32,0,48,6.81,1614968218
346,Rewāri,IN,28.1833,76.6167,20.00,20.00,0,60,3.09,1614968220
349,Coyhaique,CL,-45.5752,-72.0662,27.00,27.00,0,17,2.06,1614968222
361,Salalah,OM,17.0151,54.0924,26.00,26.00,0,57,1.54,1614968227
377,Sinazongwe,ZM,-17.2614,27.4618,25.40,25.40,0,60,1.60,1614968235
391,Sawākin,SD,19.1059,37.3321,22.81,22.81,0,62,5.57,1614968279
403,Pisco,PE,-13.7000,-76.2167,26.37,27.00,0,74,4.63,1614968283
405,Ritchie,ZA,-29.0380,24.6028,23.00,23.00,0,28,3.60,1614968284
429,Dalbandin,PK,28.8947,64.4101,22.30,22.30,0,21,1.40,1614968294
449,Narasannapeta,IN,18.4167,84.0500,22.84,22.84,0,78,2.86,1614968303
479,Sakīt,IN,27.4500,78.8167,21.04,21.04,0,22,4.47,1614968316
499,Gariāband,IN,20.6350,82.0614,24.00,24.00,0,35,2.57,1614968325
514,Najrān,SA,17.4924,44.1277,25.00,25.00,0,25,6.17,1614968331

In [21]:
#hotel_df
#Add a "Hotel Name" column to the DataFrame.
#>>> df["C"] = ""
hotel_df["Hotel Name"]=""
hotel_df

         lat      lon Hotel Name
110 -41.8697 -73.8203
125   8.6698  15.3813
181  22.5667  59.5289
183 -51.6226 -69.2181
214 -16.6228 -72.7111
294  13.4667  22.2000
300  21.4267  39.8261
335  17.0151  54.0924
364 -38.9833 -72.6500
370  20.5169 -13.0499
380  20.5022 -10.0711
413  20.1986   1.0114
442  24.1447  67.4497
446 -45.5752 -72.0662
470  25.2088  64.6357
500  12.3807  17.0568
524  25.0213  37.2685
561 -31.6308 -71.1653

In [22]:
# Google developer API key
#from config import g_key

In [23]:
params = {
    "radius": 5000,
    "types": "Hotel",
    "keyword": "Hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lats = row["lat"]
    lons = row["lon"]    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lats},{lons}"    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    
    # make request and print url
    name_address = requests.get(base_url, params=params)
    #print the name_address url, avoid doing for public github repos in order to avoid exposing key
    print(name_address.url)  
    # convert to json
    name_address = name_address.json()
    #print(json.dumps(name_address, indent=4, sort_keys=True))    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        pv_df2.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443
DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-41.8697%2C-73.8203 HTTP/1.1" 200 6485
/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-41.8697%2C-73.8203

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=8.6698%2C15.3813 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=8.6698%2C15.3813
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=22.5667%2C59.5289 HTTP/1.1" 200 6615
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=22.5667%2C59.5289

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-51.6226%2C-69.2181 HTTP/1.1" 200 6777
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-51.6226%2C-69.2181

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-16.6228%2C-72.7111 HTTP/1.1" 200 5714
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-16.6228%2C-72.7111

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=13.4667%2C22.2 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=13.4667%2C22.2
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=21.4267%2C39.8261 HTTP/1.1" 200 6976
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=21.4267%2C39.8261

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=17.0151%2C54.0924 HTTP/1.1" 200 6405
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=17.0151%2C54.0924

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-38.9833%2C-72.65 HTTP/1.1" 200 2749
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-38.9833%2C-72.65

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.5169%2C-13.0499 HTTP/1.1" 200 2670
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.5169%2C-13.0499

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.5022%2C-10.0711 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.5022%2C-10.0711
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.1986%2C1.0114 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.1986%2C1.0114
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=24.1447%2C67.4497 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=24.1447%2C67.4497
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-45.5752%2C-72.0662 HTTP/1.1" 200 6861
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-45.5752%2C-72.0662

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=25.2088%2C64.6357 HTTP/1.1" 200 1490
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=25.2088%2C64.6357

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=12.3807%2C17.0568 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=12.3807%2C17.0568
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=25.0213%2C37.2685 HTTP/1.1" 200 1732
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=25.0213%2C37.2685

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-31.6308%2C-71.1653 HTTP/1.1" 200 2523

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-31.6308%2C-71.1653

In [24]:
pv_df2

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date,Hotel Name
110,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,1613158839,Panamericana Hotel Ancud
125,Beïnamar,TD,8.6698,15.3813,25.04,25.04,0,17,1.59,1613158934,
181,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,1613158948,Sur Plaza Hotel
183,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,1613158949,Hotel Aire de Patagonia
214,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,1613159033,Hotel de Turistas
294,Adré,TD,13.4667,22.2000,21.77,21.77,0,21,3.55,1613159052,
300,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,1613158921,Pullman Zamzam Makkah
335,Salalah,OM,17.0151,54.0924,23.00,23.00,0,49,1.54,1613158852,HYATT SALALAH HOTEL
364,Pitrufquén,CL,-38.9833,-72.6500,26.00,26.00,0,57,5.14,1613159071,Hostal Senderos del Sur
370,Atar,MR,20.5169,-13.0499,22.28,22.28,0,17,4.77,1613159073,Auberge mer et desert
380,Adrar,MR,20.5022,-10.0711,22.36,22.36,0,16,5.02,1613159151,
413,Tessalit,ML,20.1986,1.0114,22.26,22.26,0,16,2.29,1613159162,
442,Keti Bandar,PK,24.1447,67.4497,20.56,20.56,0,67,3.96,1613159169,
446,Coyhaique,CL,-45.5752,-72.0662,24.00,24.00,0,29,3.09,1613159127,Patagonia House
470,Ormara,PK,25.2088,64.6357,21.11,21.11,0,64,3.25,1613159175,Alqadri hotel zero point ormara
500,Bokoro,TD,12.3807,17.0568,25.46,25.46,0,16,3.19,1613159184,
524,Umluj,SA,25.0213,37.2685,24.86,24.86,0,60,1.85,1613159189,HP Red Sea Hotel
561,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,1613159198,Hotel Casablanca

In [25]:

perfect_vacay= pv_df2.drop(columns=['date'])
perfect_vacay

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,Hotel Name
110,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,Panamericana Hotel Ancud
125,Beïnamar,TD,8.6698,15.3813,25.04,25.04,0,17,1.59,
181,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,Sur Plaza Hotel
183,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,Hotel Aire de Patagonia
214,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,Hotel de Turistas
294,Adré,TD,13.4667,22.2000,21.77,21.77,0,21,3.55,
300,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,Pullman Zamzam Makkah
335,Salalah,OM,17.0151,54.0924,23.00,23.00,0,49,1.54,HYATT SALALAH HOTEL
364,Pitrufquén,CL,-38.9833,-72.6500,26.00,26.00,0,57,5.14,Hostal Senderos del Sur
370,Atar,MR,20.5169,-13.0499,22.28,22.28,0,17,4.77,Auberge mer et desert
380,Adrar,MR,20.5022,-10.0711,22.36,22.36,0,16,5.02,
413,Tessalit,ML,20.1986,1.0114,22.26,22.26,0,16,2.29,
442,Keti Bandar,PK,24.1447,67.4497,20.56,20.56,0,67,3.96,
446,Coyhaique,CL,-45.5752,-72.0662,24.00,24.00,0,29,3.09,Patagonia House
470,Ormara,PK,25.2088,64.6357,21.11,21.11,0,64,3.25,Alqadri hotel zero point ormara
500,Bokoro,TD,12.3807,17.0568,25.46,25.46,0,16,3.19,
524,Umluj,SA,25.0213,37.2685,24.86,24.86,0,60,1.85,HP Red Sea Hotel
561,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,Hotel Casablanca

In [26]:
perfect_vacay=perfect_vacay.drop([125,294,380,413,442,446,500])

In [27]:
perfect_vacay.head()

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,Hotel Name
110,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,Panamericana Hotel Ancud
181,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,Sur Plaza Hotel
183,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,Hotel Aire de Patagonia
214,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,Hotel de Turistas
300,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,Pullman Zamzam Makkah

In [28]:

perfect_vacay.reset_index(drop=True, inplace=True)

In [29]:
perfect_vacay

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,Hotel Name
0,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,Panamericana Hotel Ancud
1,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,Sur Plaza Hotel
2,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,Hotel Aire de Patagonia
3,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,Hotel de Turistas
4,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,Pullman Zamzam Makkah
5,Salalah,OM,17.0151,54.0924,23.00,23.00,0,49,1.54,HYATT SALALAH HOTEL
6,Pitrufquén,CL,-38.9833,-72.6500,26.00,26.00,0,57,5.14,Hostal Senderos del Sur
7,Atar,MR,20.5169,-13.0499,22.28,22.28,0,17,4.77,Auberge mer et desert
8,Ormara,PK,25.2088,64.6357,21.11,21.11,0,64,3.25,Alqadri hotel zero point ormara
9,Umluj,SA,25.0213,37.2685,24.86,24.86,0,60,1.85,HP Red Sea Hotel
10,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,Hotel Casablanca

In [30]:
 # NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{citylist}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in perfect_vacay.iterrows()]
locations = perfect_vacay[["lat", "lon"]]

In [31]:
markers = gmaps.marker_layer(locations)
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info
)
fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig
#Perfect Vacation Destination Map for those looking for light wind, cloudless skies, and warm weather.

Figure(layout=FigureLayout(height='420px'))

In [48]:


markers = gmaps.marker_layer(locations)
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(9, 50, 0, 0.4)',
    stroke_color='rgba(9, 50, 0, 0.4)', scale=2,
    info_box_content=hotel_info
)

fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig
#Perfect Vacation Destination Map for those looking for light wind, cloudless skies, and warm weather.

Figure(layout=FigureLayout(height='420px'))