# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#pip install geopy
#pip install widgetsnbextension

In [1]:
# Dependencies and Setup
%matplotlib notebook

#import gmaps
#import pandas as pd
import gmaps.datasets
import csv
import numpy as np
import requests
import time
from scipy.stats import linregress
import matplotlib.pyplot as plt
from scipy import stats
import ipywidgets as widgets
import logging
logging.basicConfig(level=logging.DEBUG)
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy


import gmaps
import pandas as pd

# Google developer API key
from config import g_key




weather_data_short_load= "weather_data_short.csv"
wds_df = pd.read_csv(weather_data_short_load)


weather_data_to_load= "weatherpy_data_.csv"
weather_data = pd.read_csv(weather_data_to_load)
#pip install py gmaps

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date
0,Ushuaia,AR,-54.8000,-68.3000,16.00,16.00,20,41,9.77,1613158703
1,East London,ZA,-33.0153,27.9116,26.11,26.11,50,78,6.20,1613158904
2,Torbay,CA,47.6666,-52.7314,-0.66,0.00,90,86,11.32,1613158904
3,San Cristobal,VE,7.7669,-72.2250,33.00,33.00,40,43,3.09,1613158800
4,Tuatapere,NZ,-46.1333,167.6833,10.56,10.56,99,93,0.89,1613158904
...,...,...,...,...,...,...,...,...,...,...
561,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,1613159198
562,Almaznyy,RU,48.0448,40.0450,-2.00,-2.00,75,86,12.00,1613159273
563,Yacuiba,BO,-22.0380,-63.6797,29.22,29.22,51,43,3.02,1613159274
564,Glenwood Springs,US,39.5505,-107.3248,0.73,4.44,90,93,7.20,1613159172
565,Falam,MM,22.9167,93.6833,10.10,10.10,61,49,1.32,1613159274

In [3]:
vacay_filter_df=weather_data.loc[(weather_data["temp_max"]<27) & (weather_data["temp_max"]>20)& (weather_data["cloudiness"]==0)& (weather_data["windspeed"]<10)]
len(vacay_filter_df)

28

In [5]:
vacay_filter_df.to_csv('py_hw_vacay_filter_df.csv', index=False, header=True)

In [4]:
#This smaller data set is to be used for debugging and for the latter part of the assignment and it's use for practice code/debugging is why I have placed it here.
vfd= vacay_filter_df
vfd

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date
70,Tra Vinh,VN,9.9347,106.3453,21.25,21.25,0,87,2.77,1613158920
110,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,1613158839
125,Beïnamar,TD,8.6698,15.3813,25.04,25.04,0,17,1.59,1613158934
138,Bonthe,SL,7.5264,-12.5050,26.55,26.55,0,79,4.25,1613158938
153,Sumbe,AO,-11.2061,13.8437,25.16,25.16,0,75,3.01,1613158941
181,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,1613158948
183,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,1613158949
187,Dwārka,IN,22.2394,68.9678,20.84,20.84,0,72,2.66,1613158949
214,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,1613159033
218,Koumac,NC,-20.5667,164.2833,24.68,24.68,0,74,1.26,1613159034
294,Adré,TD,13.4667,22.2000,21.77,21.77,0,21,3.55,1613159052
300,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,1613158921
306,Saldanha,ZA,-33.0117,17.9442,21.00,21.00,0,78,5.66,1613159055
335,Salalah,OM,17.0151,54.0924,23.00,23.00,0,49,1.54,1613158852
364,Pitrufquén,CL,-38.9833,-72.6500,26.00,26.00,0,57,5.14,1613159071
370,Atar,MR,20.5169,-13.0499,22.28,22.28,0,17,4.77,1613159073
380,Adrar,MR,20.5022,-10.0711,22.36,22.36,0,16,5.02,1613159151
412,Hambantota,LK,6.1241,81.1185,24.00,24.00,0,100,2.06,1613159161
413,Tessalit,ML,20.1986,1.0114,22.26,22.26,0,16,2.29,1613159162
442,Keti Bandar,PK,24.1447,67.4497,20.56,20.56,0,67,3.96,1613159169
443,Muscat,OM,23.6139,58.5922,21.00,21.00,0,73,2.06,1613159123
446,Coyhaique,CL,-45.5752,-72.0662,24.00,24.00,0,29,3.09,1613159127
450,Kasongo-Lunda,CD,-6.4667,16.8167,22.89,22.89,0,81,0.55,1613159170
470,Ormara,PK,25.2088,64.6357,21.11,21.11,0,64,3.25,1613159175
500,Bokoro,TD,12.3807,17.0568,25.46,25.46,0,16,3.19,1613159184
524,Umluj,SA,25.0213,37.2685,24.86,24.86,0,60,1.85,1613159189
544,Noumea,NC,-22.2763,166.4572,24.19,25.56,0,94,0.51,1613158754
561,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,1613159198

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
import gmaps

gmaps.configure(api_key=g_key)

In [6]:
#vac_lat_coords=vfd['lat'].tolist()
#vac_lat_coords

In [7]:
#vac_lon_coords=vfd['lon'].tolist()
#vac_lon_coords

In [8]:
coordinates =[(9.93, 106.34),(-41.86,-73.82),(8.66,15.38),(7.52,-12.50),(-11.20,13.84)]

In [9]:
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

# Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

In [58]:
#SAMPLE SIZE HEAT MAP

locations = vfd[["lat", "lon"]].astype(float)

rating = vfd["humidity"]

In [60]:
#gmaps.figure(center=7.52,-12.50, zoom_level=15)

 # Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

Hints
Test your code with only 5-10 cities at a time while debugging your code.
For reference, use the docs for the layers and as a refresher for setting up the maps.
Be sure to handle zoom on the heat map.
At this point, you should not need to perform any new requests to Google's APIs.
To format the info boxes on your symbol_layer, look to use string formatting with list comprehension.

In [14]:
fig = gmaps.figure(map_type="HYBRID")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=30,
                                 point_radius=10)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:

 # Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=300,
                                 point_radius=20)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))


###FULL SIZE HUMIDITY MAPS

In [17]:
locationstotal = weather_data[["lat", "lon"]].astype(float)

ratingtotal = weather_data["humidity"]

In [18]:
 # Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locationstotal, weights=ratingtotal, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
 # Plot Heatmap
fig = gmaps.figure(map_type="HYBRID")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locationstotal, weights=ratingtotal, 
                                 dissipating=True, max_intensity=23,
                                 point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locationstotal, weights=ratingtotal, 
                                 dissipating=True, max_intensity=150,
                                 point_radius=30)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
fig = gmaps.figure(map_type="TERRAIN")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locationstotal, weights=ratingtotal, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=9)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
vacay_filter_df

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date
70,Tra Vinh,VN,9.9347,106.3453,21.25,21.25,0,87,2.77,1613158920
110,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,1613158839
125,Beïnamar,TD,8.6698,15.3813,25.04,25.04,0,17,1.59,1613158934
138,Bonthe,SL,7.5264,-12.5050,26.55,26.55,0,79,4.25,1613158938
153,Sumbe,AO,-11.2061,13.8437,25.16,25.16,0,75,3.01,1613158941
181,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,1613158948
183,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,1613158949
187,Dwārka,IN,22.2394,68.9678,20.84,20.84,0,72,2.66,1613158949
214,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,1613159033
218,Koumac,NC,-20.5667,164.2833,24.68,24.68,0,74,1.26,1613159034
294,Adré,TD,13.4667,22.2000,21.77,21.77,0,21,3.55,1613159052
300,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,1613158921
306,Saldanha,ZA,-33.0117,17.9442,21.00,21.00,0,78,5.66,1613159055
335,Salalah,OM,17.0151,54.0924,23.00,23.00,0,49,1.54,1613158852
364,Pitrufquén,CL,-38.9833,-72.6500,26.00,26.00,0,57,5.14,1613159071
370,Atar,MR,20.5169,-13.0499,22.28,22.28,0,17,4.77,1613159073
380,Adrar,MR,20.5022,-10.0711,22.36,22.36,0,16,5.02,1613159151
412,Hambantota,LK,6.1241,81.1185,24.00,24.00,0,100,2.06,1613159161
413,Tessalit,ML,20.1986,1.0114,22.26,22.26,0,16,2.29,1613159162
442,Keti Bandar,PK,24.1447,67.4497,20.56,20.56,0,67,3.96,1613159169
443,Muscat,OM,23.6139,58.5922,21.00,21.00,0,73,2.06,1613159123
446,Coyhaique,CL,-45.5752,-72.0662,24.00,24.00,0,29,3.09,1613159127
450,Kasongo-Lunda,CD,-6.4667,16.8167,22.89,22.89,0,81,0.55,1613159170
470,Ormara,PK,25.2088,64.6357,21.11,21.11,0,64,3.25,1613159175
500,Bokoro,TD,12.3807,17.0568,25.46,25.46,0,16,3.19,1613159184
524,Umluj,SA,25.0213,37.2685,24.86,24.86,0,60,1.85,1613159189
544,Noumea,NC,-22.2763,166.4572,24.19,25.56,0,94,0.51,1613158754
561,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,1613159198

In [13]:
#remove highest humidty locations for a more pleasurable vacation
perfect_vacation_df=weather_data.loc[(weather_data["temp_max"]<27) & (weather_data["temp_max"]>20)& (weather_data["cloudiness"]==0)& (weather_data["windspeed"]<10)& (weather_data["humidity"]<70)]
len(perfect_vacation_df)

18

In [14]:
perfect_vacation_df

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date
110,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,1613158839
125,Beïnamar,TD,8.6698,15.3813,25.04,25.04,0,17,1.59,1613158934
181,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,1613158948
183,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,1613158949
214,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,1613159033
294,Adré,TD,13.4667,22.2000,21.77,21.77,0,21,3.55,1613159052
300,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,1613158921
335,Salalah,OM,17.0151,54.0924,23.00,23.00,0,49,1.54,1613158852
364,Pitrufquén,CL,-38.9833,-72.6500,26.00,26.00,0,57,5.14,1613159071
370,Atar,MR,20.5169,-13.0499,22.28,22.28,0,17,4.77,1613159073
380,Adrar,MR,20.5022,-10.0711,22.36,22.36,0,16,5.02,1613159151
413,Tessalit,ML,20.1986,1.0114,22.26,22.26,0,16,2.29,1613159162
442,Keti Bandar,PK,24.1447,67.4497,20.56,20.56,0,67,3.96,1613159169
446,Coyhaique,CL,-45.5752,-72.0662,24.00,24.00,0,29,3.09,1613159127
470,Ormara,PK,25.2088,64.6357,21.11,21.11,0,64,3.25,1613159175
500,Bokoro,TD,12.3807,17.0568,25.46,25.46,0,16,3.19,1613159184
524,Umluj,SA,25.0213,37.2685,24.86,24.86,0,60,1.85,1613159189
561,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,1613159198

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
#NaN = np.nan
#df["column3"] = NaN
#pv_df['new_column']
#pv_df['colum11']
pv_df=perfect_vacation_df

In [16]:
#gmaps.figure(center=7.52,-12.50, zoom_level=15)
locations = pv_df[["lat", "lon"]].astype(float)

rating = pv_df["humidity"]
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=True, max_intensity=100,
                                 point_radius=20)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Google developer API key
from config import g_key

In [18]:
###Hotel Map

#Store into variable named hotel_df
hotel_df= locations = pv_df[["lat", "lon"]].astype(float)

rating = pv_df["humidity"]
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
pv_df2=pv_df

In [20]:
pv_df2["Hotel Name"]=""
pv_df2

<ipython-input-20-b18d459c3b2e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pv_df2["Hotel Name"]=""

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date,Hotel Name
110,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,1613158839,
125,Beïnamar,TD,8.6698,15.3813,25.04,25.04,0,17,1.59,1613158934,
181,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,1613158948,
183,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,1613158949,
214,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,1613159033,
294,Adré,TD,13.4667,22.2000,21.77,21.77,0,21,3.55,1613159052,
300,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,1613158921,
335,Salalah,OM,17.0151,54.0924,23.00,23.00,0,49,1.54,1613158852,
364,Pitrufquén,CL,-38.9833,-72.6500,26.00,26.00,0,57,5.14,1613159071,
370,Atar,MR,20.5169,-13.0499,22.28,22.28,0,17,4.77,1613159073,
380,Adrar,MR,20.5022,-10.0711,22.36,22.36,0,16,5.02,1613159151,
413,Tessalit,ML,20.1986,1.0114,22.26,22.26,0,16,2.29,1613159162,
442,Keti Bandar,PK,24.1447,67.4497,20.56,20.56,0,67,3.96,1613159169,
446,Coyhaique,CL,-45.5752,-72.0662,24.00,24.00,0,29,3.09,1613159127,
470,Ormara,PK,25.2088,64.6357,21.11,21.11,0,64,3.25,1613159175,
500,Bokoro,TD,12.3807,17.0568,25.46,25.46,0,16,3.19,1613159184,
524,Umluj,SA,25.0213,37.2685,24.86,24.86,0,60,1.85,1613159189,
561,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,1613159198,

In [21]:
#hotel_df
#Add a "Hotel Name" column to the DataFrame.
#>>> df["C"] = ""
hotel_df["Hotel Name"]=""
hotel_df

         lat      lon Hotel Name
110 -41.8697 -73.8203
125   8.6698  15.3813
181  22.5667  59.5289
183 -51.6226 -69.2181
214 -16.6228 -72.7111
294  13.4667  22.2000
300  21.4267  39.8261
335  17.0151  54.0924
364 -38.9833 -72.6500
370  20.5169 -13.0499
380  20.5022 -10.0711
413  20.1986   1.0114
442  24.1447  67.4497
446 -45.5752 -72.0662
470  25.2088  64.6357
500  12.3807  17.0568
524  25.0213  37.2685
561 -31.6308 -71.1653

In [22]:
# Google developer API key
#from config import g_key

In [23]:
params = {
    "radius": 5000,
    "types": "Hotel",
    "keyword": "Hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lats = row["lat"]
    lons = row["lon"]    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lats},{lons}"    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    
    # make request and print url
    name_address = requests.get(base_url, params=params)
    #print the name_address url, avoid doing for public github repos in order to avoid exposing key
    print(name_address.url)  
    # convert to json
    name_address = name_address.json()
    #print(json.dumps(name_address, indent=4, sort_keys=True))    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        pv_df2.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443
DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-41.8697%2C-73.8203 HTTP/1.1" 200 6485
/Users/crloud/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-41.8697%2C-73.8203

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=8.6698%2C15.3813 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=8.6698%2C15.3813
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=22.5667%2C59.5289 HTTP/1.1" 200 6615
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=22.5667%2C59.5289

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-51.6226%2C-69.2181 HTTP/1.1" 200 6777
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-51.6226%2C-69.2181

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-16.6228%2C-72.7111 HTTP/1.1" 200 5714
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-16.6228%2C-72.7111

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=13.4667%2C22.2 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=13.4667%2C22.2
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=21.4267%2C39.8261 HTTP/1.1" 200 6976
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=21.4267%2C39.8261

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=17.0151%2C54.0924 HTTP/1.1" 200 6405
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=17.0151%2C54.0924

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-38.9833%2C-72.65 HTTP/1.1" 200 2749
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-38.9833%2C-72.65

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.5169%2C-13.0499 HTTP/1.1" 200 2670
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.5169%2C-13.0499

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.5022%2C-10.0711 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.5022%2C-10.0711
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.1986%2C1.0114 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=20.1986%2C1.0114
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=24.1447%2C67.4497 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=24.1447%2C67.4497
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-45.5752%2C-72.0662 HTTP/1.1" 200 6861
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-45.5752%2C-72.0662

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=25.2088%2C64.6357 HTTP/1.1" 200 1490
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=25.2088%2C64.6357

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=12.3807%2C17.0568 HTTP/1.1" 200 83
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=12.3807%2C17.0568
Missing field/result... skipping.

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=25.0213%2C37.2685 HTTP/1.1" 200 1732
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=25.0213%2C37.2685

DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-31.6308%2C-71.1653 HTTP/1.1" 200 2523

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=Hotel&keyword=Hotel&key=AIzaSyBY7hoCeoa6tnTT8n-kaD-C-JhJmsS5bHo&location=-31.6308%2C-71.1653

In [24]:
pv_df2

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,date,Hotel Name
110,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,1613158839,Panamericana Hotel Ancud
125,Beïnamar,TD,8.6698,15.3813,25.04,25.04,0,17,1.59,1613158934,
181,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,1613158948,Sur Plaza Hotel
183,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,1613158949,Hotel Aire de Patagonia
214,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,1613159033,Hotel de Turistas
294,Adré,TD,13.4667,22.2000,21.77,21.77,0,21,3.55,1613159052,
300,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,1613158921,Pullman Zamzam Makkah
335,Salalah,OM,17.0151,54.0924,23.00,23.00,0,49,1.54,1613158852,HYATT SALALAH HOTEL
364,Pitrufquén,CL,-38.9833,-72.6500,26.00,26.00,0,57,5.14,1613159071,Hostal Senderos del Sur
370,Atar,MR,20.5169,-13.0499,22.28,22.28,0,17,4.77,1613159073,Auberge mer et desert
380,Adrar,MR,20.5022,-10.0711,22.36,22.36,0,16,5.02,1613159151,
413,Tessalit,ML,20.1986,1.0114,22.26,22.26,0,16,2.29,1613159162,
442,Keti Bandar,PK,24.1447,67.4497,20.56,20.56,0,67,3.96,1613159169,
446,Coyhaique,CL,-45.5752,-72.0662,24.00,24.00,0,29,3.09,1613159127,Patagonia House
470,Ormara,PK,25.2088,64.6357,21.11,21.11,0,64,3.25,1613159175,Alqadri hotel zero point ormara
500,Bokoro,TD,12.3807,17.0568,25.46,25.46,0,16,3.19,1613159184,
524,Umluj,SA,25.0213,37.2685,24.86,24.86,0,60,1.85,1613159189,HP Red Sea Hotel
561,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,1613159198,Hotel Casablanca

In [25]:

perfect_vacay= pv_df2.drop(columns=['date'])
perfect_vacay

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,Hotel Name
110,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,Panamericana Hotel Ancud
125,Beïnamar,TD,8.6698,15.3813,25.04,25.04,0,17,1.59,
181,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,Sur Plaza Hotel
183,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,Hotel Aire de Patagonia
214,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,Hotel de Turistas
294,Adré,TD,13.4667,22.2000,21.77,21.77,0,21,3.55,
300,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,Pullman Zamzam Makkah
335,Salalah,OM,17.0151,54.0924,23.00,23.00,0,49,1.54,HYATT SALALAH HOTEL
364,Pitrufquén,CL,-38.9833,-72.6500,26.00,26.00,0,57,5.14,Hostal Senderos del Sur
370,Atar,MR,20.5169,-13.0499,22.28,22.28,0,17,4.77,Auberge mer et desert
380,Adrar,MR,20.5022,-10.0711,22.36,22.36,0,16,5.02,
413,Tessalit,ML,20.1986,1.0114,22.26,22.26,0,16,2.29,
442,Keti Bandar,PK,24.1447,67.4497,20.56,20.56,0,67,3.96,
446,Coyhaique,CL,-45.5752,-72.0662,24.00,24.00,0,29,3.09,Patagonia House
470,Ormara,PK,25.2088,64.6357,21.11,21.11,0,64,3.25,Alqadri hotel zero point ormara
500,Bokoro,TD,12.3807,17.0568,25.46,25.46,0,16,3.19,
524,Umluj,SA,25.0213,37.2685,24.86,24.86,0,60,1.85,HP Red Sea Hotel
561,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,Hotel Casablanca

In [26]:
perfect_vacay=perfect_vacay.drop([125,294,380,413,442,446,500])

In [27]:
perfect_vacay.head()

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,Hotel Name
110,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,Panamericana Hotel Ancud
181,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,Sur Plaza Hotel
183,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,Hotel Aire de Patagonia
214,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,Hotel de Turistas
300,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,Pullman Zamzam Makkah

In [28]:

perfect_vacay.reset_index(drop=True, inplace=True)

In [29]:
perfect_vacay

,citylist,country,lat,lon,temp,temp_max,cloudiness,humidity,windspeed,Hotel Name
0,Ancud,CL,-41.8697,-73.8203,20.13,21.00,0,49,2.57,Panamericana Hotel Ancud
1,Sur,OM,22.5667,59.5289,20.64,20.64,0,63,3.33,Sur Plaza Hotel
2,Río Gallegos,AR,-51.6226,-69.2181,24.00,24.00,0,20,4.63,Hotel Aire de Patagonia
3,Camaná,PE,-16.6228,-72.7111,24.88,24.88,0,63,3.73,Hotel de Turistas
4,Makkah al Mukarramah,SA,21.4267,39.8261,25.00,25.00,0,57,1.43,Pullman Zamzam Makkah
5,Salalah,OM,17.0151,54.0924,23.00,23.00,0,49,1.54,HYATT SALALAH HOTEL
6,Pitrufquén,CL,-38.9833,-72.6500,26.00,26.00,0,57,5.14,Hostal Senderos del Sur
7,Atar,MR,20.5169,-13.0499,22.28,22.28,0,17,4.77,Auberge mer et desert
8,Ormara,PK,25.2088,64.6357,21.11,21.11,0,64,3.25,Alqadri hotel zero point ormara
9,Umluj,SA,25.0213,37.2685,24.86,24.86,0,60,1.85,HP Red Sea Hotel
10,Illapel,CL,-31.6308,-71.1653,26.70,26.70,0,40,4.42,Hotel Casablanca

In [30]:
 # NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{citylist}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in perfect_vacay.iterrows()]
locations = perfect_vacay[["lat", "lon"]]

In [31]:
markers = gmaps.marker_layer(locations)
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info
)
fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig
#Perfect Vacation Destination Map for those looking for light wind, cloudless skies, and warm weather.

Figure(layout=FigureLayout(height='420px'))

In [48]:


markers = gmaps.marker_layer(locations)
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(9, 50, 0, 0.4)',
    stroke_color='rgba(9, 50, 0, 0.4)', scale=2,
    info_box_content=hotel_info
)

fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig
#Perfect Vacation Destination Map for those looking for light wind, cloudless skies, and warm weather.

Figure(layout=FigureLayout(height='420px'))